<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Administrador - Ecommerce!</title>
  </head>
  <body>
    <h1>Chat administrador</h1>
    <input type="text" placeholder="mensaje" id="message" />
    <input type="button" id="send-message" value="Send"></input>
    <div id="messages"></div>
    <script
      src="/socket.io/socket.io.js"
    ></script>
    <script>
      const urlParams = new URLSearchParams(window.location.search);
      const roomParam = urlParams.get('room');
      
      const messageBody = document.querySelector("#messages");
      const message = document.querySelector("#message")
      const btnSendMsg = document.querySelector("#send-message");
   
      btnSendMsg.addEventListener('click', (event) => {
        socket.emit("message", {user: "Admin", message: message.value})
        message.value = "";
      });

      message.addEventListener('keypress', (event) => {
        if (event.keyCode === 13 ) {
          socket.emit("message", {user: "Admin", message: message.value})
          message.value = "";
        }
      })

      const socket = io();
      socket.emit("joinRoom", { user: "Admin", room: roomParam });
      socket.on("message", (msg) => {
        if (msg.firstLoad) {
            const messagesFromDB = msg.messages.map(
            (msg) => `<p>[${msg.username}][${msg.datetime}] ${msg.message}`
          );
          messageBody.innerHTML = messagesFromDB
        } else {
          const p = document.createElement("P");
          const textnode = document.createTextNode(msg);
          p.appendChild(textnode);
          messageBody.appendChild(p);
        }
      });
    </script>
  </body>
</html>
