body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1180px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* CARDS */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  justify-content: flex-start;
  display: flexbox;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  border-radius: 10%;
}

/* TABLA */

.card-column {
  padding: 10px 0;
  float: left;
}

.left {
  width: 150px;
}

.center {
  padding-left: 10px;
}
.right {
  float: right;
  width: 15%;
  padding-right: 10px;
}

.card-row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: darkgray;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  text-align: justify;
  border-radius: 6px;
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 5px 0px 5px 15px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.danger {
  background-color: #f44336;
} /* Red */
.danger:hover {
  background: #da190b;
}

.cancel {
  background-color: #9c9c9c92;
} /* Red */
.cancel:hover {
  background: #959090;
}
.edit {
  background-color: #ffd501;
} /* Red */
.edit:hover {
  background: #ffd500d6;
}

.add {
  background-color: rgb(90, 164, 90);
}
.add:hover {
  background-color: rgba(0, 152, 0, 0.62);
}

/* INPUT */

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.div-input {
  align-self: center;
  align-items: center;
  justify-content: center;
  display: none;
  padding: 10px;
  width: 35%;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 15px;
  left: 30%;

  border-radius: 5px;
  background-color: #f2f2f2;
}

#fixedbutton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
