.chatWindow {
  align-self: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 35%;
  box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 15px;
  left: 30%;
  overflow-y: scroll;
  height: 500px;

  border-radius: 5px;
  background-color: #f2f2f2;
}
